@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<main class="main-cont content mCustomScrollbar">
    <!--开始::内容-->
    <div class="page-wrap">
        <section class="page-hd">
            <header>
                <h2 class="title"><i class="icon-home"></i>后台首页</h2>
                <p class="title-description">
                    简约风模快化后台管理模板，自由打造个性化后台管理系统,
                </p>
            </header>
            <hr>
        </section>
        <blockquote class="blockquote mb-20">

            <p class="text-success">开发心得:</p>
            <p>
                内容包含：本次学习了很多网站开发和搜索引擎的知识。
            </p>
        </blockquote>
        <div class="panel panel-default">
            <div class="panel-bd capitalize">
                浏览器兼容：google chrome、microsoft edge、360浏览器、火狐浏览器、uc浏览器等高版本浏览器。
            </div>
        </div>


    </div>
</main>
