<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-SearchEngine-20181227111428;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SearchEngine-20181227111428.mdf" />
    <add name="SearchEngineEntities" connectionString="metadata=res://*/Models.SearchEngine.csdl|res://*/Models.SearchEngine.ssdl|res://*/Models.SearchEngine.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SearchEngine;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
